@import "../utilities";

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 24px 144px;
}

.textboxWrap {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  margin-bottom: 84px;
}

.textbox {
  width: 500px;
  padding: 12px 24px;
  outline: solid 1px $gray;
  border-radius: $radius_value_circle;
  background-color: $white;
  letter-spacing: 0.2rem;

  &:focus {
    outline: solid 2px $dark_gray;
  }
}

.postImage {
  border-radius: 12px;
}
