@import "../utilities";

.headGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 84px;

  @include mediaQuery(md) {
    margin-bottom: 48px;
  }

  .iconsWrap {
    display: flex;
    gap: 12px;
    justify-content: end;
    width: 100%;
    max-width: 600px;
    font-size: 3rem;
    color: $light_gray;

    .selected {
      color: $dark_gray;
    }
  }

  .textboxWrap {
    position: relative;
    width: 100%;
    max-width: 600px;

    .textbox {
      width: 100%;
      padding: 18px 36px;
      outline: solid 2px $gray;
      border-radius: 6px;
      background-color: white;
      letter-spacing: 0.2rem;

      &:focus {
        outline: solid 4px $dark_gray;
      }

      @include mediaQuery(md) {
        padding: 12px 24px;
      }
    }
  }
}
