$white: #fff;
$light: #f5f5f5;
$light_gray: #ccc;
$gray: #888;
$dark_gray: #333;
$black: #000;
$pink: #e81e63;
$header_height: 70px;
$footer_height: 100px;
$radius_value_circle: 9999px;

$breakpoints: (
  "md": "(max-width: 48em)" /* 768px */,
) !default;

@mixin mediaQuery($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
