@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin-top: $header_height;
  font-family: "Noto Sans JP", sans-serif;
  color: $dark_gray;
  background-color: $light;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  word-break: break-all;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 24px;
  min-height: calc(100vh - $header_height - $footer_height);
}
