@import "utilities";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: $dark_gray;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  word-break: break-all;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 24px 144px;
}
