@import "../utilities";

.icon {
  font-size: 3.2rem;
  color: $dark-gray;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    color: $gray;
  }

  @include mediaQuery(md) {
    font-size: 2.6rem;
  }
}

.favorite {
  color: $pink;

  &:hover {
    color: lighten($pink, 10%);
  }
}
