@import "../utilities";

.overlay {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);

  .modal {
    position: absolute;
    inset: 50% auto auto 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    outline: none;
    overflow: auto;
    border-radius: 12px;
    background-color: white;

    .image {
      width: 100%;
      max-height: 70vh;
      object-fit: cover;
    }

    .footGroup {
      display: flex;
      flex-direction: column;
      row-gap: 36px;
      padding: 36px 48px;

      @include mediaQuery(md) {
        row-gap: 24px;
        padding: 24px 36px;
      }

      .actions {
        display: flex;
        justify-content: space-between;

        .icon {
          font-size: 3rem;
          color: $dark-gray;
          cursor: pointer;
          transition: 0.1s;

          &:hover {
            color: $gray;
          }

          @include mediaQuery(md) {
            font-size: 2.4rem;
          }
        }

        .favorite {
          color: $pink;
        }

        .rightGroup {
          display: flex;
          column-gap: 15px;

          @include mediaQuery(md) {
            column-gap: 10px;
          }
        }
      }
    }
  }
}
