@import "../utilities";

// .wrap {
.headGroup {
  width: 100%;
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: solid 2px $light-gray;
  text-align: right;

  .toggleBtn {
    padding: 12px;
    border-radius: 6px;
    background-color: $dark-gray;
    text-align: center;
    letter-spacing: 0.2rem;
    color: $light;
    transition: 0.1s;

    &:hover {
      background-color: rgba($dark_gray, 0.8);
    }
  }

  .fixedWrap {
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 48px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
    padding: 12px 24px;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);

    @include mediaQuery(md) {
      column-gap: 36px;
    }

    .selectModeBtn {
      min-width: 200px;
      padding: 12px;
      border-radius: 6px;
      text-align: center;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      transition: 0.1s;

      background-color: $dark_gray;
      color: $light;

      &:hover {
        background-color: rgba($dark_gray, 0.8);
      }

      &:disabled {
        background-color: $light-gray;
        color: $gray;
      }

      @include mediaQuery(md) {
        display: none;
      }
    }

    .selectModeIcon {
      display: none;

      @include mediaQuery(md) {
        display: block;
        font-weight: bold;
        font-size: 2.4rem;

        &:hover {
          color: rgba($dark_gray, 0.8);
        }

        &:disabled {
          color: $gray;
        }
      }
    }
  }
}

.post {
  position: relative;

  .image {
    width: 100%;
    border-radius: 12px;
  }

  .selected {
    filter: brightness(0.3);
  }

  .serviceIcon {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    font-size: 2rem;
    color: white;
  }

  .selectIcon {
    position: absolute;
    z-index: 1;
    inset: 0;
    margin: auto;

    font-size: 3vw;
    color: white;

    @include mediaQuery(md) {
      font-size: 6vw;
    }
  }
}
// }
